testData/
../cppStudy/input.txt
../cppStudy/output.txt
in.txt
__pycache__
*exec/

# Pycharm
.idea/
in.txt
Temp/
# Visual Studio
.vs/
x64/
*Debug/
*Release/
*.vcxproj*
*.sln
# Visual Studio Code
.vscode/
*.code-workspace
# Sonarqube
.scannerwork