__pycache__
solving*
io/
bin/
target/
*.lock

*.exe
Contest/*
ce_finder/target/*

# Mac
*.dSYM
*.DS_Store

# Pycharm
.idea/

# Visual Studio
.vs/
x64/
*Debug/
*Release/
*.vcxproj*
*.sln

# Visual Studio Code
.vscode/
*.code-workspace

# Sonarqube
.scannerwork
